.edc-pg--slider-container {
  margin-bottom: 1rem;
}

.edc-pg--slider {
  margin: 0;
}

.edc-pg--check-group {
  margin: 0 0 1rem 0;
  padding: 0;
  list-style: none;
}

.edc-pg--check-item {
  margin-bottom: 0.5rem;
}

.edc-pg--new-pass-btn {
  background: var(--color-brand-complementary) !important;
  border-color: var(--color-brand-complementary) !important;
}
