.edc-pg {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 100vh;
}

.edc-pg--cover {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #E44D26;
  background: -webkit-linear-gradient(to right, #F16529, #E44D26);
  background: linear-gradient(to right, #F16529, #E44D26)

  /* background: #cb2d3e;
  background: -webkit-linear-gradient(to right, #ef473a, #cb2d3d);
  background: linear-gradient(to right, #ef473a, #cb2d3e); */
}

.edc-pg--cover svg {
  z-index: 100;
}

.edc-pg--pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image:
      radial-gradient(var(--color-error), rgba(255,255,255, 0.5) 1px, transparent 1px),
      radial-gradient(var(--color-error), rgba(255,255,255, 0.75) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px;
  background-position: 0 0, 50px 50px;
}

.edc-pg--header {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  z-index: 100;
  position: relative;
}

.edc-pg--header-logo-img {
  width: 90px;
  height: auto;
}

.edc-pg--body {
  align-self: center;
  width: 100%;
  padding: 1rem;
  max-width: 400px;
  width: 100%;
  z-index: 100;
}

.edc-pg--footer {
  width: 100%;
  background-color: var(--fill-blank);
  padding: 1rem;
  text-align: center;
}

.edc-pg--title {
  text-align: center;
  font-size: 2rem;
  color: #ffe4d8;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.edc-pg--label {
  text-align: center;
  color: #ffba9c;
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  color: #E44D26;
}