.edc-pg {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 100vh;
  min-width: 390px;
  min-height: 700px;
}

.edc-pg--cover {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--color-brand);
  background: -webkit-linear-gradient(
    to right,
    var(--color-brand-light),
    var(--color-brand)
  );
  background: linear-gradient(
    to right,
    var(--color-brand-light),
    var(--color-brand)
  );
}

.edc-pg--pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: radial-gradient(
      var(--color-brand),
      rgba(255, 255, 255, 0.25) 1px,
      transparent 1px
    ),
    radial-gradient(
      var(--color-brand-light),
      rgba(255, 255, 255, 0.3) 1px,
      transparent 1px
    );
  background-size: 50px 50px, 50px 50px;
  background-position: 0 0, 25px 25px;
}

.edc-pg--header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  z-index: 100;
  position: absolute;
  top: 0;
}

.edc-pg--container {
  width: 100%;
  max-width: 400px;
  padding: 0 1rem;
  z-index: 100;
  position: relative;
}

.edc-pg--header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edc-pg--header-logo-img {
  width: 90px;
  height: auto;
}

.edc-pg--header-cntrls {
  display: inline-flex;
  align-items: center;
}

.edc-pg--locale-ctrl {
  color: var(--fill-blank) !important;
  border-color: var(--color-brand-light2) !important;
}

.edc-pg--locale-ctrl:hover {
  border-color: var(--color-brand-light1) !important;
}

.edc-pg--footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--fill-blank);
  padding: 1rem;
  text-align: center;
}

.edc-pg--title {
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-brand-light2);
  font-weight: bold;
  margin-bottom: 1.4rem;
  line-height: 1.2;
}

.edc-pg--label {
  font-size: 1rem;
  text-align: center;
  color: var(--color-brand-light2);
  margin-bottom: 2.5rem;
}

.edc-pg--disclaimer {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: var(--color-brand-light2);
}

.link {
  text-decoration: none;
  color: var(--color-brand-dark);
}

.link:hover {
  color: var(--color-brand-dark);
  font-weight: bold;
}


.edc-pg--media {
  background-color: magenta;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edc-pg--avatar {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: -560px;
}

.edc-pg--avatar-right {
  left: auto;
  right: -560px;
}

.edc-pg--curve {
  z-index: 101;
  position: absolute;
  bottom: -1px;
}