:root {
    --color-brand-dark: #A0351B;
    --color-brand: #E44D26;
    --color-brand-light: #FFAA95;
    --color-brand-light1: #FFD5CA;
    --color-brand-complementary: #1BA067;
    --color-brand-complementary-light: #26e493;

    --color-primary-dark: #337ecc;
    --color-primary: #409EFF;
    --color-primary-light: #79bbff;
    --color-primary-light1: #a0cfff;
    --color-primary-light2: #c6e2ff;
    --color-primary-light3: #d9ecff;
    --color-primary-light4: #ecf5ff;

    --color-success-dark: #529b2e;
    --color-success: #67C23A;
    --color-success-light: #95d475;
    --color-success-light1: #b3e19d;
    --color-success-light2: #d1edc4;
    --color-success-light3: #e1f3d8;
    --color-success-light4: #f0f9eb;

    --color-warning-dark: #b88230;
    --color-warning: #E6A23C;
    --color-warning-light: #eebe77;
    --color-warning-light1: #f3d19e;
    --color-warning-light2: #f8e3c5;
    --color-warning-light3: #faecd8;
    --color-warning-light4: #fdf6ec;

    --color-danger-dark: #c45656;
    --color-danger: #F56C6C;
    --color-danger-light: #f89898;
    --color-danger-light1: #fab6b6;
    --color-danger-light2: #fcd3d3;
    --color-danger-light3: #fde2e2;
    --color-danger-light4: #fef0f0;

    --color-error-dark: #c45656;
    --color-error: #f56c6c;
    --color-error-light: #f89898;
    --color-error-light1: #fab6b6;
    --color-error-light2: #fcd3d3;
    --color-error-light3: #fde2e2;
    --color-error-light4: #fef0f0;

    --color-info-dark: #73767a;
    --color-info: #909399;
    --color-info-light: #b1b3b8;
    --color-info-light1: #c8c9cc;
    --color-info-light2: #dedfe0;
    --color-info-light3: #e9e9eb;
    --color-info-light4: #f4f4f5;

    --text-primary: #303133;
    --text-regular: #606266;
    --text-secondary: #909399;
    --text-placeholder: #A8ABB2;
    --text-disabled: #C0C4CC;

    --border-darker: #CDD0D6;
    --border-dark: #D4D7DE;
    --border-base: #DCDFE6;
    --border-light: #E4E7ED;
    --border-lighter: #EBEEF5;
    --border-extra-light: #F2F6FC;

    --fill-darker: #E6E8EB;
    --fill-dark: #EBEDF0;
    --fill-base: #F0F2F5;
    --fill-light: #F5F7FA;
    --fill-lighter: #FAFAFA;
    --fill-extra-light: #FAFCFF;
    --fill-blank: #FFFFFF;
}
